body {
    margin: 0px;
    font-family: Roboto;
}

ul {
    display:flex;
}

li {
    font-size: 18px;
    font-weight: normal;
    color: #E5E7EB;
    margin: 16px;
}

button {
    max-width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px;
    border: 2px;
}

.container.info.outer {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-bottom: 160px;
}

.container {
    display: flex;
    flex-grow: 1;
}

.head {
    align-items: center;
    background-color: #1F2937;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.main {
    flex-direction: column;
    padding: 0px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.container.hero.outer {
    padding-top: 40px;
    padding-bottom: 80px;
    gap: 40px;
}

.container.items {
    flex-direction: row;
    gap: 80px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
}

.hero .left {
    flex-direction: column;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    gap: 4px;
}

.hero.content {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.hero .right {
    align-items: center;
    justify-content: center;
    background-color: grey;
}

.outer {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image {
    display: flex;
    aspect-ratio: 1 / 1;
    border: 3px solid #3882F6;
    flex: 1;
    width: 100%;
    border-radius: 8px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    gap: 4px;
}

.subtext {
    color: grey;
    padding: 8px;
    text-align: center;
    font-size: 18px;
}

.title {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container.quote.outer {
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    background-color: #E5E7EB;
    padding-left: 320px;
    padding-right: 320px;
    padding-top: 160px;
    padding-bottom: 160px;
}

.quote.content {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
}

.quote.author {
    text-align: right;
    color: #1F2937;
    font-weight: 900;
    font-size: 20px;
}